
:root {
    --primary: #304460;;
    --bg: #e9e8ea;
    --radius: 10px;
    --radius-btn: 6px;
    --accent: #ba731c;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    background: var(--bg);
    color: #1F2937;
    line-height: 1.5;
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 14px;
    border: 1px solid #D1D5DB;
    border-radius: var(--radius-btn);
    font: inherit;
}

input:focus {
    outline: none;
    border-color: var(--primary);
    
}

button {
    font: inherit;
    cursor: pointer;
}

.btn-primary,
.btn-secondary {
    display: inline-block;
    padding: 12px 24px;
    border-radius: var(--radius-btn);
    font-weight: 600;
}

.btn-primary {
    background: var(--primary);
    color: #fff;
}

.btn-secondary {
    border: 2px solid var(--primary);
    color: var(--primary);
}

.btn-primary:hover,
.btn-secondary:hover {
    text-decoration: none;
    filter: brightness(0.9);
}